<nav class=" navbar navbar-expand-md navbar-dark bg-dark p-0">

  <div  data-toggle="collapse" data-target=".navbar-collapse.show" >
    <a class="navbar-brand ml-md-5 p-4" routerLink="/home" routerLinkActive="just_apply">Home</a>

  </div>


  <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="icon-bar top-bar"></span>
    <span class="icon-bar middle-bar"></span>
    <span class="icon-bar bottom-bar"></span>	
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item mt-1 mt-md-0   active"  data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="userIsAuthenticated">
        <a class="nav-link pl-5 pt-3 pb-3 p-md-5"  routerLink="/myaccount" routerLinkActive="just_apply">MyArea</a>
      </li>
      <li class=" nav-item mt-1 mt-md-0   active"  data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="userIsAuthenticated && userIsAdmin">
        <a class="nav-link pl-5 pt-3 pb-3  p-md-5"  routerLink="/admin" routerLinkActive="just_apply">Admin</a>
      </li>
      <li class="nav-item mt-1 mt-md-0    active" data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!userIsAuthenticated">
        <a class="nav-link pl-5 pt-3 pb-3 p-md-5"   routerLink="/registrati" routerLinkActive="just_apply">Register</a>
      </li>
      <li class="nav-item mt-1 ml-3  mt-md-0 ml-md-3 mr-md-5  active"  data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!userIsAuthenticated">
        <a class="pt-4 pb-4 p-md-5  btn btn-sm btn-link mt-1 button__logout" routerLink="/login">Login</a>
      </li>
      <li class="nav-item mt-1 ml-3  mt-md-0 ml-md-3 mr-md-5 "  data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="userIsAuthenticated">
        <button class="p-4 p-md-5 btn btn-sm btn-link mt-1 button__logout" (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </div>

</nav>










