

   @media (min-width: 390px) {
    .login {
       width: 440px;
       margin-top: 200px;
    }
}



.rounded_border_top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.rounded_border_bottom {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.rounded_border_all {
    border-radius: 18px;
}

.button_coloro {
    background-color: steelblue;
    color: white;
}

.header_color{
    background-color: steelblue;
}



.button_hover:hover,
.button_hover:active{
    color: white;
    background: #0e4071;
    border: none;
}


