

<div class="row">
  <div class="col mt-4 pt-4">
  </div>
</div>






<div class="row ">
  <div class="col">
  </div>


  <div class="col p-5 m-5">
  
    <div class="card rounded_border_all">
      <div class="card-header  text-center text-white rounded_border_top header_color">
        <i class='fas fa-id-badge' style='font-size:28px;color:white'></i>
      </div>
      <div class="card-body p-4">

        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control form-control-sm rounded_border_all" aria-describedby="emailHelp"
              placeholder="Enter email" name="email" #emailInput="ngModel" ngModel>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control form-control-sm rounded_border_all" placeholder="Password" name="password"
              #passwordInput='ngModel' ngModel>
              <small *ngIf="!emailOrPassword " id="emailHelp" class="form-text text-danger">Email o Password errati!</small>
          </div>
          <br>
          <button type="submit" class="btn btn-sm  rounded_border_all button_coloro btn-block">Login</button>
        </form>

      </div>
    

  </div>
</div>

  <div class="col"></div>
</div>









<div class="row">
  <div class="col m-5 p-5 ">
  </div>
</div>