
    <div class="container">


        <div class="row  mb-5">
            <div class="col text-center ">
                <h4 >Form Di Registrazione</h4>
            </div>
        </div>


        <div class="row">
            <div class="col">


                <ul class="list-group "  >
                    <li class="list-group-item list-group-item-info text-center active">Register</li>
                    <li class="list-group-item">

                        <form class="needs-validation" novalidate>
                            

                              <div class="form-group">
                                <label for="exampleInputName"> <b>Nome</b> </label>
                                <div class="input-group input-group-md">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text ">
                                        <i class="fas fa-user"></i>
                                      </span>
                                    </div>
                                    <input type="text" class="form-control form-control-sm"  placeholder="Il tuo nome" required>
                                </div>

                                <div class="invalid-feedback">Name can't be blank</div>
                                <div class="valid-feedback">Looks good!</div>
                                <small *ngIf="false" class="form-text text-muted">Text input example</small>
                              </div>


          
                            <div class="form-group">
                              <label for="exampleInputName"> <b>Cognome</b> </label>
                              <div class="input-group input-group-md">
                                <div class="input-group-prepend">
                                  <span class="input-group-text ">
                                    <i class="fas fa-user">
                                    </i>
                                  </span>
                                </div>
                                <input type="text" class="form-control form-control-sm" placeholder="Il tuo cognome" required>
                            </div>
                              <div class="invalid-feedback">Name can't be blank</div>
                              <div class="valid-feedback">Looks good!</div>
                              <small *ngIf="false" class="form-text text-muted">Text input example</small>
                            </div>



                            <div class="form-group">
                                <label for="exampleInputName"> <b>Codice Fiscale</b> </label>
                                <div class="input-group input-group-md">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text ">
                                        <i class="far fa-address-card"></i>
                                    </span>
                                  </div>
                                  <input type="text" class="form-control form-control-sm"  placeholder="Il tuo C.F" required>
                              </div>
                                <small *ngIf="false" class="form-text text-muted">Text input example</small>
                              </div>


                                    
                            <div class="form-group">
                                <label for="exampleInputFriends"><b>Età</b></label>
                                <div class="input-group input-group-md">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text ">
                                        <i class="fas fa-info">
                                        </i>
                                      </span>
                                    </div>
                                    <input type="number" class="form-control form-control-sm"  placeholder="La tua età" required>
                                </div>
                                <small *ngIf="false" class="form-text text-muted">Integer input example</small>
                              </div>

                              <div class="form-group">
                                <label for="exampleInputFriends"><b>Nr. di telefono</b></label>
                                <div class="input-group input-group-md">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text ">
                                        <i class="fas fa-phone-square"></i>
                                      </span>
                                    </div>
                                    <input type="tel" class="form-control form-control-sm" placeholder="Numero di telefono" required>
                                </div>
                                <small *ngIf="false" class="form-text text-muted">Campo obbligatorio *</small>
                              </div>


                          
                            <div class="form-group">
                              <label for="exampleInputEmail"><b>Email</b></label>
                              <div class="input-group input-group-md">
                                <div class="input-group-prepend">
                                  <span class="input-group-text ">
                                    <i class="fa fa-envelope-square">
                                    </i>
                                  </span>
                                </div>
                                <input type="email" class="form-control form-control-sm"  placeholder="La tua email" autocomplete="email" required>
                            </div>
                              <small *ngIf="false" class="form-text text-muted">Campo obbligatorio *</small>
                            </div>

              
                            <div class="form-group">
                              <label for="exampleInputPassword"><b>Nuova password</b></label>
                              <div class="input-group input-group-md">
                                <div class="input-group-prepend">
                                  <span class="input-group-text ">
                                    <i class="fas fa-key">
                                    </i>
                                  </span>
                                </div>
                                <input type="password" class="form-control form-control-sm"  placeholder="Nuova password" autocomplete="current-password" required>
                            </div>
                              <small *ngIf="false" class="form-text text-muted">Campo obbligatorio *</small>
                            </div>


                            <div class="form-group">
                                <label for="exampleInputPassword"><b>Ripeti password</b></label>
                                <div class="input-group input-group-md">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text ">
                                      <i class="fas fa-key">
                                      </i>
                                    </span>
                                  </div>
                                  <input type="password" class="form-control form-control-sm"  placeholder="Ripeti password" autocomplete="current-password" required>
                              </div>
                                <small *ngIf="false" class="form-text text-muted">Riscrivi la stessa password *</small>
                              </div>
                                                     
                          
                            <button class="btn btn-outline-primary btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Registrami</button>   
                          </form>

                    </li>
                    
                  </ul>
                </div>



             
    







            <div class="col">
                <p>Qui ci va la descrizione dopo la registrazione</p>
            </div>
        </div>


     

    </div>
