








<div class="container  mt-2 mt-md-5">



<h6 class="text-center color_title mt-0 mb-0">
  My info
</h6>



<div class="row align-items-center p-3 mt-md-5">



  <div class="col " *ngIf="user?.autorizzato">
    <img class=" ml-md-auto  mx-auto d-block" src="{{user?.qrCode}}" alt="" style="width: 130px; height: 130px;">
  </div>


  <div class="col mt-4">

    <div class="h5__content">
      <h5 class="ml-5"> <strong>Nome: </strong> {{user?.nome}} </h5>
      <h5 class="ml-5"> <strong>Cognome: </strong> {{user?.cognome}}</h5>
      <h5 class="ml-5"> <strong>C.F: </strong> {{user?.cf}} </h5>
      <h5 class="ml-5"> <strong>Età: </strong> {{user?.eta}} </h5>
      <h5 class="ml-5"> <strong>Telefono: </strong> {{user?.telefono}} </h5>
      <h5 class="ml-5"> <strong>Email: </strong> {{user?.email}} </h5>
      <h5 class="ml-5"> <strong>QR code: </strong> {{user?.autorizzato ? "Presente" : "Non ancora disponibile"}}  </h5>
      <h5 class="ml-5"> <strong>Autorizzato: </strong> {{user?.autorizzato ? "Si" : "In attesa..."}}  </h5>
    </div>
  </div>




</div>




</div>


