<div class="container ">



  <div class="row mb-5">
    <div class="col col-sm-0 col-0 col-md-1"></div>


    <div class="col col-sm-12 col-12 col-md-10">

      <div class="search">
        <form>
          <div class="input-group input-group-sm p-4">
            <input type="text" class="form-control rounded_border_all" placeholder="Cerca un utente">
          </div>
        </form>

      </div>


      <div [ngClass]="{'apply_collapse': users.length > 8}">

        <div class="card p-0 " *ngFor="let user of users; let i = index">





          <a class="p-2  " data-toggle="collapse" href="#List-{{ i }}" aria-expanded="false"  [ngClass]="{
            'colore_header': user.autorizzato,
            'colore_pending': !user.autorizzato  }" >
        


             <div class="row">
              <div class="col col-10 col-md-11 text-center pl-5">
                {{user.nome}} {{user.cognome}} 
              </div>
              <div class="col col-2 col-md-1 ml-0  pl-0 ">
                <span class="input-group-text py-1 " *ngIf="!user?.autorizzato">
                  <i class="fas fa-key mx-auto  ">
                  </i>
                </span>
              </div>
            </div>


          </a>


        
     



        


       

        


          <div id="List-{{ i }}" class="collapse  ">
            <div class="card-body">


              <div class="row">
                <div class="col ">
                  <img src="{{user?.qrCode}}" alt="" style="width: 125px; height: 125px;">

                </div>
                <div class="col mt-3 ">
                  <h5> <small> <strong> C.F: </strong> {{user?.cf}} </small> </h5>
                  <h5> <small> <strong> E-mail: </strong> {{user?.email}} </small> </h5>
                  <h5> <small> <strong> Telefono: </strong> {{user?.telefono}} </small> </h5>
                  <h5> <small> <strong> Età: </strong> {{user?.eta}} </small> </h5>
                </div>


                <div class="col">

                  <form [formGroup]="form" (change)="onUserAuthorization(user)">
                    <div class="form-check">
                      <input class="form-check-input" [checked]="user?.autorizzato" formControlName="authCheckbox"
                        type="checkbox">
                      <label class="form-check-label" for="defaultCheck1">
                        Utente autorizzato
                      </label>
                    </div>

                  </form>

                  <button class="btn btn-sm btn-danger rounded_border_all btn-rounded   my-3" type="submit"
                    (click)="onDeleteUser(user?._id)">
                    Delete user
                  </button>



                </div>


              </div>


            </div>
          </div>


        </div>

      </div>


    </div>
    <div class="col col-sm-0 col-0 col-md-1"></div>
  </div>


</div>